# Terraform local files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Python files
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# OS/IDE files
.DS_Store
.vscode/
.idea/

# Docker files
Dockerfile
.dockerignore

# Secrets
.env